# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.bohrium'
'name': 'Bohrium'
'fileTypes': [
  'bh'
]
'patterns': [
  {
    'match': '(#.*)|(\\.+)'
    'name': 'comment.bohrium'
  }
  {
    'match': '(\\d+)'
    'name': 'constant.numeric.bohrium'
  }
  {
    'match': '(BH_.*?\\b)'
    'name': 'keyword.operator.other.bohrium'
  }
  {
    'match': '(a\\d+)'
    'name': 'variable.language.bohrium'
  }
  {
    'match': '([\\[\\]\\\\(){};,/?:])'
    'name': 'punctuation.separator.bohrium'
  }
]
